<div class="container">
  <h5>{{ title }}</h5>
  <div class="row">
    <div class="col s6 indigo">
      1
      <ng-content select=".btn1"></ng-content>
    </div>
    <div class="col s6 purple">
      2
      <ng-content select=".btn2"></ng-content>
    </div>
  </div>
  <div class="row">
    <div class="col s6 grey">
      3
      <ng-content select=".btn3"></ng-content>
    </div>
    <div class="col s6 lime">
      4
      <ng-content select=".btn4"></ng-content>
    </div>
  </div>
</div>
