<app-template title="Tylko template">
  <button class="btn">Button 1</button>
  <button class="btn">Button 2</button>
  <button class="btn">Button 3</button>
  <button class="btn">Button 4</button>
</app-template>

<app-template-selector title="Standardowy selektor">
  <button class="btn" first #btn>Button 1</button>
  <button class="btn" second #btn>Button 2</button>
  <button class="btn" third #btn>Button 3</button>
  <button class="btn" fourth #btn>Button 4</button>
</app-template-selector>

<app-template-attribute title="Selektor z atrybutem">
  <button class="btn" grid="first">Button 1</button>
  <button class="btn" grid="second">Button 2</button>
  <button class="btn" grid="third">Button 3</button>
  <button class="btn" grid="fourth">Button 4</button>
</app-template-attribute>

<app-template-css title="Selektor CSS">
  <button class="btn btn1">Button 1</button>
  <button class="btn btn2">Button 2</button>
  <button class="btn btn3">Button 3</button>
  <button class="btn btn4">Button 4</button>
</app-template-css>

<app-template-more-attributes title="Więcej atrybutów w selektorze">
  <button class="btn" first button>Button 1</button>
  <button class="btn" second button>Button 2</button>
  <button class="btn" third button>Button 3</button>
  <button class="btn" fourth button>Button 4</button>
</app-template-more-attributes>
